{% extends 'main/base.html' %}
{% block title %}VogFlix - movies {% endblock %}
{% block content %}
  <div style="color: #fff; margin: 90px 0; ">
    <section>
      <div class="movie_player_container">
        <div class="trailer">
          
        </div>

      </div>

      <div class="movie_description desc-container">
        <img src="{{tv_show_season.tv_show_image.url}}" width="340" height="480" style="float: left;">
        <div class="movie_data">
            
            <h1>{{tv_show_season.name}}</h1> 

            <div>
              <i style="margin-top: 20px;line-height: 5px;" id="description">{{tv_show_season.Tv_shows_description}}</i>

              <script type="text/javascript">
                var desc = document.getElementById("description").innerHTML;
                
                if (desc.length < 1000) {

                  document.getElementById("description").innerHTML = desc;
                } else {
                  var content = '';
                  for (var i = 0; i < desc.length; i++) {
                    content = content + desc[i];
                    
                    if (i === 1000) {
                      break;
                    } else if (i < 1000) {
                      continue;
                    }
                    else{
                      break;
                    }
                  }
                  content = content + ".... <a href='#' onclick='show_description();'>more</a>";
                  document.getElementById("description").innerHTML = content;
                }

                function show_description(){
                  alert(desc);
                }
              </script>
            </div>
            <br>
            <h4>Watch Trailer <a href="#" class="btn btn-danger mb-2">Trailer</a></h4>
            <p>Genre: <i style="color: red; cursor: pointer;">{{tv_show_season.tv_show.genre.name}}</i></p>
            <p>Date released: <i style="color: red; cursor: pointer;">{{tv_show_season.date_released|date:"F d, Y"}}</i></p>


          </div>
      </div>
      <div class="season-display">

        <div class="season-img-display" id="img_holder">
          {% if tv_show_season.Tv_shows_episodes.all %}
            <h5 class="text-muted" style="padding: 200px 50px;"> Hover on the image to see it</h5>
          {% else %}
            <h5 class="text-muted" style="padding: 200px 50px;"> Nothing to display</h5>
          {% endif %}
        </div>
        <div class="season-holder">
          <div class="seasons">
            {% if tv_show_season.Tv_shows_episodes.all %}
            <div class="seasons-header">
              <h2 style="padding: 10px;">Episodes</h2>
              <hr style="border: 1px solid #fff;">
            </div>
            <div class="season-names" id="s_img">
              
                {% for tv_shw in tv_show_season.Tv_shows_episodes.all %}
                <div class="box" >
                  <a href="{% url 'watch_tv_show' tv_shw.id %}" style="text-decoration: none;">
                    <img src="{{tv_shw.Tv_show_image.url}}" width="60" height="60" style="float: left;margin: 5px;" id="img">
                    <button class="season-play-btn" value="{{tv_shw.name}}" id="play_button">Play Episode</button>
                    <p class="tv_show_name" id="tv_show_name"><!-- {{tv_show_season.name}} : --> {{tv_shw.name}}</p>
                  </a>
                  
                  
                </div>
                {% endfor %}
              <script type="text/javascript">
                    var name = document.getElementById("play_button");
                    var show_name = [];
                    for(var s = 0; s<name.length; s++){
                      show_name.push(name[s].value);
                    }
                    console.log(show_name);
                    
                  </script>
              
            </div>
            {% else %}
              <h3 style="padding: 20%;">Looks like this show doesn't have any seasons yet <i class="far fa-grin-beam-sweat"></i><i class="far fa-frown ml-1"></i>
                <a href="/" style="margin-left: 50px;">Back</a>
              </h3>
            {% endif %}
          </div>
            
        </div>

      </div>

    </section>
    
    
  </div>
  
{% endblock %}
